.modal {
    transition: opacity 0.25s ease;
}

body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}

.buy-sell-btn {
    padding: 5px 8px 5px 8px;
    background-color: #FBBF24;
    border-radius: 9999px;
    font-size: 12px;
    margin-right: 10px;
}
